.container-fluid {
    width: 90% !important;
    margin: auto;
}

@media(max-width:1200px) {
    .container-fluid {
        width: 96% !important;
    }
}

@media(min-width:1500px) {
    .container-fluid {
        width: 80% !important;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 28px !important;
    }
    h4{
        font-size: 20px !important;
    }
    h2{
        font-size: 22px !important;
        font-weight: 500;
    }
}
@media(min-width:1024px) and (max-width:1700px){
    h1{
        font-size: 36px !important;
    }
    h2{
        font-size: 28px !important;
    }
}
.accordion-body {
    padding: 1rem 0.5rem !important;
}

img {
    object-fit: cover;
}

.btn {
    font-weight: 500;
    /* font-size: 18px; */
    z-index: 1000 !important;
}

a {
    z-index: 10000 !important;
}

.form-control:focus{
    box-shadow: none !important;
    
}
.form-control{
    font-size: 15px !important;
}
.modal{
    z-index: 100000 !important;
    /* top: 15% !important; */
    height: auto !important;
    position: absolute !important;
}
body{
    overflow-y: scroll !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito',sans-serif;
}
.modal::-webkit-scrollbar {
    display: none;
  }
  .modal-backdrop{
    width: 98vw !important;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .modal-header{
    border-bottom: none !important;
  }
  .modal-footer{
    border-top: none !important;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
.modal-dialog{
    max-width: 600px !important;
}
  
.btn{
    z-index: 0 !important;
}
.btn-simple{
    z-index: 0 !important;
}
/* .checkboxes input[type="checkbox"]{
    width: 15px;
    height: 15px;
} */
@media(max-width:576px){
    .checkboxes span{
        font-size: 13px !important;
        margin-left: 10px !important;
    }
}
.form-control:focus + .mandatory{
    display: none;
}

.modal-body1{
    display: none !important;
}
.modal1-active{
    display: flex !important;
}