.blog-content-header p {
    font-size: 18px;
    color: #727272;
}
.blog-content-section {

    font-family: 'Nunito', sans-serif !important;
}

.blog-content-header h1 {
    font-weight: 700;
    font-size: 35px;
}


@media(max-width:991px) {
    

    .blog-content-header {
        align-items: center !important;
    }

    .blog-content-header h1 {
        text-align: center !important;
    }
}
.blog-item{
    box-shadow: 0 0 10px #cccccc;
    background: #ffffff;
    border-radius: 10px;
}
.our-blogs{
    font-family: 'Nunito',sans-serif;
}
.thumb{
    position: relative;
    z-index: 1;
}
.thumb a {
    display: block;
}
.thumb img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.thumb .date{
    position: absolute;
    left: 30px;
    bottom: -30px;
    text-align: center;
    background: #ffffff;
    padding: 15px 30px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 27px;
    box-shadow: 0 0 10px #cccccc;
    border-radius: 5px;
}
.thumb .date strong {
    display: block;
    color: #232323;
    position: relative;
}
.blog-info{
        padding: 30px;
        padding-top: 55px;
}
.meta{
    margin-bottom: 10px;
}
.blog-info h4{
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
}
.blog-info p{
    color: #666666;
    line-height: 28px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
}
.btn-simple{
    display: inline-block;
    /* border: 1px solid #e7e7e7; */
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff !important;
    font-weight: 500;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* color: #437eeb !important; */
    background-color: #2a4ae8;
    margin-top: 10px;

}
.btn-simple:hover::after {
    left: 0;
}


.btn-simple:hover{
    color: #fff !important;
    background-image: linear-gradient(to right bottom, #2a4ae8, #0061ed, #0073ed, #0084e9, #0092e3, #009ce1, #00a4dc, #00acd6, #00b4d5, #00bbd2, #00c2ce, #04c8c8);
 
}
.meta ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.meta ul li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 7px;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}
.blog-info .meta li:first-child {
    margin-right: 0;
}
.blog-info .meta i {
    margin-right: 5px;
    color: #437eeb;
}
.blog-info .meta li a{
    text-decoration: none;
    color: #232323;
}
.blog-item a{
    color: #232323;
}
.btn-simple{
    position: absolute;
    bottom: 20px;
}
.blog-item{
    position: relative;
}
@media(max-width:700px){
    .date{
        display: none;
    }
    .blog-info{
        padding: 5px !important;
    }
}
@media(max-width:515px){
    .meta{
        display: none !important;
    }
    .blog-item h5 a{
        font-size: 14px !important;
    
    }
    .blog-item h5{
        line-height: 0.9 !important;
    }
    .blog-item p{
        font-size: 12px !important;
        /* display: none; */
        line-height: unset !important;
    }
    .btn-simple{
        font-size: 14px !important;
    }
    
    
}
@media(min-width:400px) and (max-width:515px){
    .blog-item{
        height: 338px;
    }
}
@media(max-width:400px){
    .blog-item{
        height: 350px;
    }
}
@media(min-width:515px) and (max-width:700px){
    .blog-item{
        height: 430px;
    }
}
@media(min-width:700px) and (max-width:991px){
    .blog-item{
        height: 540px;
    }
}
@media(min-width:992px) and (max-width:1399px){
    .blog-item{
        height: 510px;
    }
}
@media(min-width:1400px) and (max-width:2000px){
    .blog-item{
        height: 560px;
    }
}
@media(min-width:2000px){
    .blog-item{
        height: 620px;
    }
}