{% extends 'base.html' %}
{% load static %}

{% block meta-description %}
<meta name="description" content="Learn about how we collect, use, and protect your information and what rights you have in relation to your data">
{% endblock %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Privacy Policy</h1>
      <p>Bridger DS Inc. is committed to protecting your privacy. This Privacy Policy explains what personal information
        we
        collect, why we collect it, and how we use it.</p>

      <b><i>Information Collection</i></b>
      <ol>
        <li>The personal information we collect may include your name, email address, and phone number while you create
          a form
          request.</li>
        <li>We may also collect non-personal information such as IP addresses, browser type, and information about your
          use of
          our website.</li>
      </ol>

      <b><i>Use of Information</i></b>
      <ol>
        <li>We use your personal information to process your submission, send you meeting requests and blog updates,
          improve our services, and personalise your experience.</li>
        <li>We may also use your information for internal business purposes, such as data analysis and audits.
        </li>
      </ol>

      <b><i>Disclosure of Information</i></b>
      <ol>
        <li>We may share your personal information with third-party service providers who assist us in operating our
          website, conducting our business, or providing customer service.</li>
        <li>We do not sell or rent your personal information to third parties for their marketing purposes without your
          explicit consent.
        </li>
      </ol>

      <b><i>Security of Information</i></b>
      <ol>
        <li>We take reasonable measures to protect your personal information.</li>
        <li>However, no data transmission over the internet or storage system can be guaranteed 100% secure.
        </li>
        <li>If you have reason to believe that your interaction with us is no longer secure, please immediately notify
          us of the problem by contacting us following the “Contact Us” section below.</li>
      </ol>

      <b><i>Changes to Privacy Policy</i></b>
      <ol>
        <li>We may update this Privacy Policy periodically to reflect changes in our practices or services.</li>
        <li>If we make any material changes, we will notify you by email or through a notice on our website before the
          change becomes effective.
        </li>
      </ol>

      <b><i>Contact Us</i></b>
      <ol>
        <li>If you have any questions or concerns about this Privacy Policy or our information practices, please contact
          us at <a href="mailto:mydata@bridgerds.com">mydata@bridgerds.com</a> </li>
      </ol>

      <p>This Privacy Policy applies to information collected on our website, <a href="www.bridgerds.com">www.bridgerds.com</a>. By using our website,
        you consent to our Privacy Policy.</p>

    </div>
  </div>
</div>

{% endblock %}